@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes:
    dark --default,
    light --prefersdark,
    cupcake;
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .font-quicksand {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
  }
}

@layer base {
  body {
    @apply bg-base-200;
    font-family: "Inter", sans-serif;
    /* font-family: "JetBrains Mono", monospace; */
    font-optical-sizing: auto;
  }

  h1 {
    @apply text-6xl font-bold;
  }
  h2 {
    @apply text-5xl font-bold;
  }
  h3 {
    @apply text-4xl font-bold;
  }
  h4 {
    @apply text-3xl font-bold;
  }
  h5 {
    @apply text-2xl font-bold;
  }
  h6 {
    @apply text-xl font-bold;
  }
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: light;

  --color-base-100: oklch(98.5% 0.004 245);

  --color-base-200: oklch(98.6% 0.006 80);
  --color-base-300: oklch(93.8% 0.01 80);
  --color-base-content: oklch(20% 0.015 240);

  --color-primary: oklch(52% 0.22 250);
  --color-primary-content: oklch(98% 0.01 250);

  --color-secondary: oklch(60% 0.12 220);
  --color-secondary-content: oklch(98% 0.01 220);

  --color-accent: oklch(68% 0.18 50);
  --color-accent-content: oklch(15% 0.03 50);

  --color-neutral: oklch(40% 0.02 240);
  --color-neutral-content: oklch(98% 0.01 240);

  --color-info: oklch(65% 0.15 230);
  --color-info-content: oklch(98% 0.01 230);

  --color-success: oklch(60% 0.14 140);
  --color-success-content: oklch(98% 0.01 140);

  --color-warning: oklch(75% 0.18 80);
  --color-warning-content: oklch(20% 0.03 80);

  --color-error: oklch(58% 0.22 30);
  --color-error-content: oklch(98% 0.01 30);

  /* Radius ( */
  --radius-selector: 0.75rem;
  --radius-field: 0.3rem;
  --radius-box: 0.6rem;

  /* Sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* Borders */
  --border: 1px;

  /* Effects */
  --depth: 0;
  --noise: 0;
}
/* 
@plugin "daisyui/theme" {
  name: "dark";
  prefersdark: true;
  default: false;
  color-scheme: dark;

  --color-base-100: oklch(98% 0.005 240);
  --color-base-200: oklch(95% 0.01 240);
  --color-base-300: oklch(90% 0.015 240);
  --color-base-content: oklch(18% 0.02 240); dark text */

/* --color-primary: oklch(52% 0.22 250);
  --color-primary-content: oklch(98% 0.01 250);

  --color-secondary: oklch(60% 0.12 220);
  --color-secondary-content: oklch(98% 0.01 220);
} */
